<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/albo/css/home.css' %}">
    <link rel="icon" type="image/png" href="{% static 'albo/img/icon.png' %}" />
    <title>{% block titulo %}{% endblock %}</title>
</head>
<body>

    <img width="500" height="200" src="{% static 'albo/img/logo-max.jpg' %}" alt="">

    {% block content %}

    {% endblock %}
</body>
</html>